matplotlib
matplotlib-inline
matplotlip
numpy
pandas
pandas-profiling
pandocfilters
parso
pickleshare
Pillow
scikit-learn
scipy
seaborn
streamlit
streamlit-folium
streamlit-option-menu
streamlit-pandas-profiling