alembic
altair
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
commonmark
contourpy
cycler
debugpy
decorator
defusedxml
Django
dnspython
docopt
email-validator
entrypoints
executing
fastjsonschema
findspark
Fiona
Flask
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
folium
fonttools
geopandas
gitdb
GitPython
htmlmin
idna
ImageHash
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipython-sql
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core==4.11.1
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter_client
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
Mako
MarkupSafe
matplotlib
matplotlib-inline
matplotlip
mistune
multimethod
munch
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
numpy
packaging
pandas
pandocfilters
parso
patsy
phik
pickleshare
Pillow
pipreqs
Plost
plotly
prettytable
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydantic
pydeck
Pygments
PyJWT
Pympler
PyMySQL
pyparsing
pyproj
pyrsistent
pytest
python-dateutil
scikit-learn
streamlit