alembic
altair
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
commonmark
contourpy
cycler
debugpy
decorator
defusedxml
Django
dnspython
docopt
email-validator
entrypoints
executing
fastjsonschema
findspark
Fiona
Flask
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
folium
fonttools
geopandas
gitdb
GitPython
greenlet
htmlmin
idna
ImageHash
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipython-sql
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter_client
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
Mako
MarkupSafe
matplotlib
matplotlib-inline
matplotlip
mistune
multimethod
munch
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
packaging
pandas
pandas-profiling
pandocfilters
parso
patsy
phik
pickleshare
Pillow
pipreqs
Plost
plotly
prettytable
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
pure-eval
pyarrow
pycparser
pydantic
pydeck
Pygments
PyJWT
Pympler
PyMySQL
pyparsing
pyproj
pyrsistent
pytest
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
rich
scikit-learn
scipy
seaborn
semver
Send2Trash
shapely
six
smmap
soupsieve
sql-magic
SQLAlchemy
sqlparse
stack-data
statsmodels
streamlit
streamlit-folium
streamlit-option-menu
streamlit-pandas-profiling
sweetviz
tangled-up-in-unicode
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
typeguard
typing_extensions
tzdata
tzlocal
urllib3
validators
visions
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
yarg
ydata-profiling
zipp